<form class='radios'>
  <input type='radio' class='none'  name='test-radio'>
  <input type='radio' class='one'   name='test-radio'  data-show='.panel-one' data-add-class='one; .panels'>
  <input type='radio' class='two'   name='test-radio'  data-show='.panel-two' data-add-class='two; .panels' checked='true'>
  <input type='radio' class='three' name='test-radio'  data-show='.panel-three' data-add-class='three; .panels'>
</form>

<div class='panels'>
  <div class='panel-one'></div>
  <div class='panel-two'></div>
  <div class='panel-three'></div>
</div>

<input type='radio' class='other-radio' name='test-radio'>
