<select class='select-toggle'>
  <option data-add-class='none'>none</option>
  <option data-show='.panel-one' data-hide='.hide-test' data-add-class='one & one; .panels'>one</option>
  <option data-show='.panel-two' data-hide='.hide-test' data-add-class='two & two; .panels' selected>two</option>
  <option data-show='.panel-three' data-hide='.hide-test' data-add-class='three & three; .panels'>three</option>
</select>

<div class='panels'>
  <div class='panel-one'></div>
  <div class='panel-two'></div>
  <div class='panel-three'></div>
</div>

<div class='hide-test'></div>
